*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
html{
    font-size: 15px;
    scroll-behavior: smooth;
}
.inner{
    max-width: 1210px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/****** Header Starts ******/

header{
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/welcome-img.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
nav{
    padding: 2rem 0;
    color: white;
}
.nav-left{
    width: 20%;
}
.nav-left img{
    width: 100%;
}
.nav-right{
    width: 35%;
}
.nav-right span{
    color: white;
    font-size: 1.3rem;
    transition: color 0.2s linear;
}
.hamburger{
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-top: 1.5rem;
    display: none;
    transition: 0.3s ease;
}
.hamburger .bar{
    height: 4px;
    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease;
}
.hamburger #bar1{
    transform: translateY(-5px);
}
.hamburger #bar3{
    transform: translateY(5px);
}
.nav-ul{
    width: 70%;
    display: flex;
    justify-content: flex-end; 
}
.nav-ul li{
    list-style: none;
    padding-left: 2.5rem;
}
.nav-ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.2s linear;
}
.nav-ul li a:hover, .nav-right span:hover{
    color: #383838;
}


.header-body{
    padding-top: 4rem;
}
.header-up{
    overflow: hidden;
}
.header-up-left{
    width: 50%;
    display: flex;
    align-items: center;
}
.vertical-txt{
    width: 10%;
}
.vertical-txt img{
    width: 100%;
}
.header-txt{
    width: 85%;
}
.header-txt h2 {
    font-size: 5.5rem;
    color: #982a27;
    letter-spacing: 5px;
    line-height: 90px;
}
.header-txt h4 {
    font-size: 2.4rem;
    color: white;
    font-weight: 300;
    line-height: 3.4rem;
    padding: 1rem 0 3rem;
}
.header-txt button {
    font-size: 1.1rem;
    font-family: 'Roboto Condensed';
    width: 42%;
    padding: 1rem 0;
    background-color: #ffd56a;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}
.header-txt button:hover{
    background-color: black;
    color: white;
}
.header-up-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.header-up-right img{
    width: 75%;
}
.header-down h1 {
    font-size: 10rem;
    letter-spacing: 1.7rem;
    line-height: 75%;
    color: rgba(123,30,32,0.14);
}


/****** Support Starts ******/

.support{
    padding-top: 5rem;
}
.groups{
    width: 20%;
}
.groups-img{
    width: 15%;
}
.groups-img img{
    width: 100%;
}
.groups-txt{
    width: 78%;
}
.groups-txt h3{
    color: #383838;
}
.groups-txt h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
}


/****** Sound Starts ******/

.sound{
    width: 100%;
    padding-top: 5rem;
}
.sound-row-1{
    height: 440px;
    overflow: hidden;
}
.sr1-left{
    width: 50%;
    justify-content: flex-end;
}
.product-1{
    width: 40%;
    cursor: pointer; 
    position: relative;
}
.product-img{
    width: 100%;    
}
.product-img img{
    width: 100%;
}
.product-txt{
    width: 100%;
    text-align: center;
}
.product-txt h4{
    font-size: 1.2rem;
    color: #383838;
    padding: 0 1rem;
}
.price{
    font-size: 1rem;
    padding: 0.5rem 0;
    justify-content: center;
}
.price h5{
    font-size: 1.1rem;
}
.strike{
    color: #a7a7a7;
    text-decoration: line-through;
    padding-right: 1rem;
}
.discount{
    color: #982a27;
}
.stars span{
    font-size: 1rem;
    color: #b3b3b3;
}
.stars span.active{
    color: #f6b61b;
}
.p-txt-hide-1, .p-txt-hide-2, .p-txt-hide-3, .p-txt-hide-4,
.p-txt-hide-5, .p-txt-hide-6, .p-txt-hide-7, .p-txt-hide-8,
.p-txt-hide-9, .p-txt-hide-10, .p-txt-hide-11, .p-txt-hide-12,
.p-txt-hide-13, .p-txt-hide-14, .p-txt-hide-15, .p-txt-hide-16,
.p-txt-hide-17, .p-txt-hide-18, .p-txt-hide-19{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s linear;
}
.p-click-1:hover .p-txt-hide-1, .p-click-2:hover .p-txt-hide-2,
.p-click-3:hover .p-txt-hide-3, .p-click-4:hover .p-txt-hide-4,
.p-click-5:hover .p-txt-hide-5, .p-click-6:hover .p-txt-hide-6,
.p-click-7:hover .p-txt-hide-7, .p-click-8:hover .p-txt-hide-8,
.p-click-9:hover .p-txt-hide-9, .p-click-10:hover .p-txt-hide-10,
.p-click-11:hover .p-txt-hide-11, .p-click-12:hover .p-txt-hide-12,
.p-click-13:hover .p-txt-hide-13, .p-click-14:hover .p-txt-hide-14,
.p-click-15:hover .p-txt-hide-15, .p-click-16:hover .p-txt-hide-16,
.p-click-17:hover .p-txt-hide-17, .p-click-18:hover .p-txt-hide-18,
.p-click-19:hover .p-txt-hide-19{
    visibility: hidden;
    opacity: 0;
}
.cart-1, .cart-2, .cart-3, .cart-4, .cart-5, .cart-6, .cart-7,
.cart-8, .cart-9, .cart-10, .cart-11, .cart-12, .cart-13, .cart-14,
.cart-15, .cart-16, .cart-17, .cart-18, .cart-19{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}
.p-click-1:hover .cart-1, .p-click-2:hover .cart-2,
.p-click-3:hover .cart-3, .p-click-4:hover .cart-4,
.p-click-5:hover .cart-5, .p-click-6:hover .cart-6,
.p-click-7:hover .cart-7, .p-click-8:hover .cart-8,
.p-click-9:hover .cart-9, .p-click-10:hover .cart-10,
.p-click-11:hover .cart-11, .p-click-12:hover .cart-12,
.p-click-13:hover .cart-13, .p-click-14:hover .cart-14,
.p-click-15:hover .cart-15, .p-click-16:hover .cart-16,
.p-click-17:hover .cart-17, .p-click-18:hover .cart-18,
.p-click-19:hover .cart-19{
    visibility: visible;
    opacity: 1;
}
.cart, .cart-b{
    font-size: 1rem;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    background-color: #da2621;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 20%;
}
.cart-b {
    width: 90%;
    left: 10%;
}
.sr1-right{
    width: 50%;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/banner-01.png");
    background-size: cover;
    background-position: center;
    color: white;
}
.sr1-right h2, .sr1-right h4,
.sr2-left h2, .sr2-left h4, .shop-now{
    padding-left: 2rem;
}
.sr1-right h2, .sr2-left h2{
    font-size: 5rem;
    padding-top: 2rem;
}
.sr1-right h4, .sr2-left h4{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 6px;
}
.shop-now{
    width: 25%;
    font-size: 1.6rem;
    padding-top: 33%;
    cursor: pointer;
    color: white;
}
.sr1-right h5, .sr2-left h5{
    transition: color 0.2s linear;
}
.sr1-right h5:hover, .sr2-left h5:hover{
    color: #da2621;
}
.sound-row-2{
    height: 540px;
    padding-top: 7rem;
    overflow: hidden;
}
.sr2-left{
    width: 50%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/banner-02.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
.sr2-right{
    width: 50%;
    justify-content: flex-start;
}


/****** Latest Product Starts ******/

.latest-product{
    padding-top: 6rem;
}
.latest-product h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: #292828;
    text-align: center;
}
.lp-group{
    width: 100%;
    padding-top: 2rem;
}
.product-2 {
    width: 60%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}


/****** Big Offer Starts ******/

.big-offer{
    width: 100%;
    height: 340px;
    background-image: url("../images/cta-001.png");
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    margin-top: 3rem;
    overflow: hidden;
}
.bo-txt{
    padding-top: 1rem;
    overflow: hidden;
}
.bo-txt h3{
    font-size: 2.2rem;
    font-weight: 400;
    color: #ff6099;
}
.bo-txt h2{
    font-size: 5.3rem;
    background-image: url("../images/text_background.svg");
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.bo-txt h4{
    font-size: 1.7rem;
    font-weight: 300;
    color: white;
}
.shop-now-2{
    width: 23%;
    font-size: 1.5rem;
    padding-top: 3rem;
    color: white;
    cursor: pointer;
}
.shop-now-2 h5{
    transition: color 0.2s linear;
}
.shop-now-2 h5:hover{
    color: #da2621;
}


/****** Best Selling Product Starts ******/

.best-selling-product{
    padding-top: 5rem;
}
.best-selling-product h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: #292828;
    text-align: center;
}
.bsp-group{
    width: 100%;
    padding-top: 2rem;
}


 /****** Apple Camera Starts ******/

.apple-camera{
    width: 100%;
    padding-top: 5rem;
    overflow: hidden;
}
.apple, .camera{
    width: 49.5%;
    background-size: cover;
    background-position: center;
    color: white;
}
.apple{
    background-image: url("../images/watch-bg.jpg");
    color: #292828;
}
.camera{
    background-image: url("../images/huawei-bg.jpg");
    color: white;
}
.apple h2, .apple h4, .apple h5,
.camera h2, .camera h4, .camera h5{
    padding-left: 2rem;
}
.apple h2, .camera h2{
    font-size: 5rem;
    padding-top: 2rem;
}
.apple h4, .camera h4{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 6px;
}
.shop-now-3{
    width: 24%;
    font-size: 1.5rem;
    padding-top: 30%;
    padding-bottom: 5%;
    cursor: pointer;
}
.shop-now-3 h5{
    transition: color 0.2s linear;
}
.shop-now-3 h5:hover{
    color: #da2621;
}


/****** Most Viewed Product Starts ******/

.most-viewed-product{
    padding-top: 5rem;
}
.most-viewed-product h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: #292828;
    text-align: center;
}
.mvp-group{
    width: 100%;
    padding-top: 2rem;
}


/****** Companies Starts ******/

.companies{
    padding-top: 8rem;
}
.c-name{
    width: 65%;
    margin: 0 auto;
}
.c-name img{
    width: 100%;
}


/****** Latest Blogs Starts ******/

.latest-blog{
    padding-top: 5rem;
}
.latest-blog h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: #292828;
    text-align: center;
}
.latest-blog a{
    text-decoration: none;
}
.blog-body{
    width: 100%;
    height: 600px;
    padding-top: 3rem;
}
.blog-left{
    width: 50%;
    border-right: 1px solid white;
    color: white;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.blog-big-txt-1{
    font-size: 1.5rem;
}
.blog-big-txt-1 h2{
    color: white;
    transition: color 0.2s linear;
}
.blog-big-txt-1 h2:hover{
    color: #ac312c;
}
.blog-small-txt-1{
    width: 35%;
}
.blog-img-1, .blog-img-2, .blog-img-3, .blog-img-4, 
.blog-img-5{
    background-size: cover;
    background-position: center;
}
.blog-img-1{
    background-image:linear-gradient(180deg, rgba(255,255,255,0) 39.49%, #383838 100%), url("../images/blog-3.jpg");
}
.blog-img-2{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 39.49%, #383838 100%), url("../images/blog-1.jpg");    
}
.blog-img-3{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 39.49%, #383838 100%), url("../images/blog-2.jpg");    
}
.blog-img-4{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 39.49%, #383838 100%), url("../images/blog-4.jpg");    
}
.blog-img-5{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 39.49%, #383838 100%), url("../images/blog-5.png");
}
.blog-right{
    width: 50%;
}
.br-row{
    width: 100%;
    height: 50%;
}
.brr-box{
    width: 50%;
    color: white;
    border: 1px solid white;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.blog-big-txt-2 h2{
    color: white;
    transition: color 0.2s linear;
}
.blog-big-txt-2 h2:hover{
    color: #ac312c;
}
.blog-small-txt{
    width: 73%;
}
.admin p, .date p{
    padding-left: 0.3rem;
}


/****** Subscribe Starts ******/

.subscribe{
    width: 100%;
    background-image: linear-gradient(180deg, #ff5c38 0%, #ff3735 100%);;
    margin-top: 5rem;
    padding: 2rem 0;
}
.subscribe-txt{
    width: 48%;
    color: white;
}
.subscribe-txt h3{
    font-size: 2rem;
    font-weight: 400;
}
.subscribe-txt p{
    font-size: 1.3rem;
    padding-top: 0.3rem;
}
form{
    width: 48%;
    align-content: center;
}
form input{
    width: 60%;
    height: 85%;
    background-color: #ff7d6d;
    color: white;
    padding-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
}
form button{
    width: 40%;
    height: 85%;
    font-size: 1.1rem;
    font-family: 'Roboto Condensed';
    padding: 1rem 0;
    background-color: #ffd56a;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}
form button:hover{
    background-color: black;
    color: white;
}


/****** Footer Starts ******/

footer{
    padding: 4rem 0 3rem;
}
.my-footer{
    width: 100%;
}
.footer-col{
    width: 20%;
}
.footer-col h4{
    font-size: 1.4rem;
    padding-top: 1rem;
    color: #292828;
}
.mail{
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #ac312c;
    padding-top: 1rem;
}
.footer-col h5{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 0.5rem;
}
.red-txt-no{
    color: #ac312c;
}
.details-heading{
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.my-footer ul li{
    font-size: 1.2rem;
    font-weight: 100;
    cursor: pointer;
    color: #ff5c38;
    padding-bottom: 0.5rem;
}
.my-footer ul li span{
    color: #292828;
}
.copy{
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
    padding-top: 3rem;
}



/************* ------- Media Query ---------- ***************/

@media(max-width:1275px){
    .inner{
        max-width: 1150px;
    }

    .header-up{
        padding-top: 2rem;
    }
    .header-down h1 {
        font-size: 9rem;
        padding-top: 3rem;
    }

    .blog-small-txt-1 {
        width: 37%;
    }
    .blog-small-txt {
        width: 77%;
    }

    .cart{
        top: 70%;
    }
}
@media(max-width:1175px){
    .inner{
        max-width: 1050px;
    }

    .nav-right {
        width: 35%;
    }

    .header-up{
        padding-top: 4rem;
    }
    .header-down h1 {
        font-size: 8rem;
        padding-top: 5rem;
    }

    .sound-row-1 {
        height: 400px;
    }
    .sound-row-2 {
        height: 500px;
    }
    .shop-now{
        width: 30%;
    }

    .cart-b {
        width: 100%;
        left: 6%;
    }

    .big-offer {
        height: 320px;
    }
    .bo-txt {
        width: 50%;
        padding-top: 0rem;
    }
    .bo-img {
        width: 50%;
    }
    .bo-img img{
        width: 100%;
        padding-top: 1rem;
    }

    .apple h2, .camera h2 {
        font-size: 4rem;
    }
    .apple h4, .camera h4 {
        font-size: 1.7rem;
        letter-spacing: 3px;
    }

    .blog-small-txt-1 {
        width: 41%;
    }
    .blog-small-txt {
        width: 85%;
    }
}
@media(max-width:1070px){
    .inner{
        max-width: 950px;
    }

    .header-up {
        padding-top: 6rem;
    }
    .header-txt h2 {
        font-size: 5rem;
    }
    .header-down h1 {
        font-size: 7rem;
        padding-top: 6rem;
    }

    .product-txt h4 {
        font-size: 1rem;
    }
    .cart {
        width: 65%;
        top: 63%;
        left: 17%;
    }

    .big-offer {
        height: 300px;
    }
    .bo-txt h3 {
        font-size: 2rem;
    }
    .bo-txt h2 {
        font-size: 4.5rem;
    }
    .bo-txt h4 {
        font-size: 1.4rem;
    }

    .blog-small-txt-1 {
        width: 45%;
    }
    .blog-small-txt {
        width: 95%;
    }

    .shop-now-3 {
        width: 28%;
    }

    .subscribe-txt p {
        font-size: 1.2rem;
        padding-top: 0.3rem;
    }
}
@media(max-width:960px){
    .inner{
        max-width: 900px;
    }

    .nav-right {
        width: 22%;
        position: relative;
        padding-right: 10%;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 0%;
        top: -82%;
    }
    .nav-ul{
        width: 650px;
        height: 867px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        position: absolute;
        top: -130%;
        left: 140%;
        z-index: 10;
        background-color: #b52928;
        transition: 0.3s ease;
    }
    .nav-ul li{
        padding: 3rem 0;
    }
    .nav-ul li a{
        font-size: 1.4rem;
    }
    .icon #bar1{
        transform: translateY(8px) rotate(-45deg);
    }
    .icon #bar3{
        transform: translateY(1px) rotate(45deg);
    }
    .icon #bar2{
        opacity: 0;
    }
    .change-ul{
        left: -215%;
    } 
    .ham-position{
        right: 325%;
    }  

    .header-txt h2 {
        font-size: 4rem;
        line-height: 75px;
    }
    .header-txt h4 {
        font-size: 2.2rem;
        padding: 0rem 0 1rem;
    }
    .header-down h1 {
        font-size: 6rem;
        padding-top: 7rem;
    }

    .sound-row-1 {
        height: 370px;
    }
    .sound-row-2 {
        height: 460px;
    }
    .sr1-left, .sr2-right {
        justify-content: center;
    }
    .sr1-right h2, .sr2-left h2 {
        font-size: 4rem;
    }
    .sr1-right h4, .sr2-left h4 {
        font-size: 1.6rem;
        letter-spacing: 5px;
    }
    .cart {
        width: 70%;
        left: 14%;
    }

    .apple h2, .camera h2 {
        font-size: 3rem;
    }
    .apple h4, .camera h4 {
        font-size: 1.4rem;
    }

    .blog-body {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .blog-left {
        width: 100%;
        height: 400px;
    }
    .blog-right {
        width: 100%;
        height: 500px;
    }
    .blog-small-txt-1 {
        width: 24%;
    }
    .blog-small-txt {
        width: 48%;
    }

    .subscribe-txt p {
        font-size: 1.1rem;
    }
}
@media(max-width:915px){
    .inner{
        max-width: 820px;
    }
    .hamburger {
        width: 30px;
        top: -82%;
    }
    .hamburger #bar1 {
        transform: translateY(-5px);
    }
    .hamburger #bar3 {
        transform: translateY(5px);
    }
    .icon #bar1{
        transform: translateY(8px) rotate(-45deg);
    }
    .icon #bar3{
        transform: translateY(1px) rotate(45deg);
    }
    .nav-ul {
        width: 620px;
        top: -140%;
    }

    .header-up {
        padding-top: 8rem;
    }
    .header-txt h2 {
        font-size: 4rem;
    }
    .header-txt h4 {
        font-size: 2rem;
    }
    .header-down h1 {
        padding-top: 8rem;
    }

    .support{
        justify-content: space-around;
    }
    .groups {
        width: 40%;
    }
    .grp-pdng{
        padding-top: 3rem;
    }

    .shop-now{
        width: 35%;
    }

    .big-offer {
        height: 270px;
    }
    .bo-txt h3 {
        font-size: 1.8rem;
    }
    .bo-txt h2 {
        font-size: 4rem;
    }
    .bo-txt h4 {
        font-size: 1.2rem;
    }
    .shop-now-2 {
        width: 27%;
    }
    .blog-small-txt-1 {
        width: 26%;
    }
    .blog-small-txt {
        width: 53%;
    }

    .shop-now-3 {
        width: 31%;
    }

    .subscribe-txt h3 {
        font-size: 1.8rem;
    }
    .subscribe-txt p {
        font-size: 1rem;
    }

    .footer-col img{
        width: 100%;
    }
}
@media(max-width:830px){
    .inner{
        max-width: 720px;
    }
    .nav-ul {
        width: 560px;
        top: -150%;
    }

    .header-up {
        padding-top: 8rem;
    }
    .header-txt h2 {
        font-size: 3rem;
        line-height: 55px;
    }
    .header-txt h4 {
        font-size: 1.8rem;
        padding: 1rem 0 1rem;
        line-height: 2.7rem;
    }
    .header-txt button {
        width: 50%;
    }
    .header-down h1 {
        font-size: 5rem;
        padding-top: 10rem;
    }

    .sound-row-1 {
        height: 350px;
    }
    .sound-row-2 {
        height: 425px;
    }
    .shop-now{
        width: 38%;
    }
    .cart {
        width: 78%;
        left: 9%;
    }

    .product-2 {
        width: 70%;
    }

    .big-offer {
        height: 270px;
    }
    .bo-txt h3 {
        font-size: 1.5rem;
    }
    .bo-txt h2 {
        font-size: 3rem;
    }
    .bo-txt h4 {
        font-size: 1rem;
    }
    .shop-now-2 {
        width: 30%;
    }
    .shop-now-3 {
        width: 34%;
    }

    .blog-small-txt-1 {
        width: 30%;
    }
    .blog-small-txt {
        width: 61%;
    }

    .subscribe-txt h3 {
        font-size: 1.6rem;
    }
    .subscribe-txt p {
        font-size: 0.9rem;
    }
}
@media(max-width:750px){
    .inner{
        max-width: 650px;
    }
    .nav-ul {
        width: 500px;
        top: -150%;
    }

    .header-up {
        padding-top: 0rem;
        flex-direction: column;
    }
    .header-up-left {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .vertical-txt {
        display: none;
    }
    .header-txt {
        width: 100%;
        text-align: center;
    }
    .header-txt h2 {
        font-size: 3rem;
        line-height: 55px;
    }
    .header-txt h4 {
        font-size: 2.2rem;
        padding: 0.5rem 0 1.5rem;
        line-height: 3rem;
    }
    .header-txt button {
        width: 30%;
        margin: 0 auto;
    }
    .header-up-right {
        width: 100%;
        padding-top: 3rem;
    }
    .header-up-right img {
        width: 55%;
        margin: 0 auto;
    }
    .header-down h1 {
        font-size: 4rem;
        padding-top: 1rem;
    }

    .sound-row-1 {
        height: auto;
        flex-direction: column-reverse;
    }
    .sr1-right {
        width: 100%;
    }
    .sr1-left, .sr2-right {
        justify-content: center;
        width: 100%;
    }
    .sound-row-2 {
        height: auto;
        flex-direction: column;
    }
    .sr2-left {
        width: 100%;
    }
    .shop-now {
        width: 24%;
        padding-bottom: 2rem;
    }
    .product-txt h4 {
        font-size: 1.3rem;
    }
    .product-2 {
        width: 75%;
    }
    .cart {
        width: 60%;
        top: 80%;
        left: 21%;
    }

    .bo-txt {
        width: 100%;
        text-align: center;
    }
    .bo-txt h3 {
        font-size: 2rem;
    }
    .bo-txt h2 {
        font-size: 5rem;
    }
    .bo-txt h4 {
        font-size: 1.5rem;
    }
    .bo-img {
        display: none;
    }
    .shop-now-2 {
        width: 30%;
        margin: 0 auto;
    }

    .apple-camera {
        flex-direction: column;
    }
    .apple, .camera {
        width: 100%;
    }
    .camera {
        margin-top: 1rem;
        background-position: top;
    }

    .blog-small-txt-1 {
        width: 33%;
    }
    .blog-small-txt {
        width: 68%;
    }

    .latest-product h3, .best-selling-product h3, 
    .most-viewed-product h3{
        font-size: 2.2rem;
    }

    .c-pdng{
        padding-top: 0rem;
    }

    .subscribe .flex{
        flex-direction: column;
    }
    .subscribe form{
        flex-direction: row !important;
        width: 100%;
        margin-top: 1.5rem;
    }
    .subscribe-txt {
        width: 90%;
    }
    .subscribe-txt h3 {
        font-size: 2.3rem;
    }
    .subscribe-txt p {
        font-size: 1.3rem;
    }
    form input {
        width: 75%;
        height: auto;
    }
    form button {
        width: 25%;
        height: auto;
    }

    .my-footer {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .footer-col {
        width: 35%;
    }
}
@media(max-width:665px){
    html{
        font-size: 14px;
    }
    .inner{
        max-width: 570px;
    }
    .nav-left {
        width: 25%;
    }
    .nav-ul {
        width: 406px;
    }
    .change-ul {
        left: -185%;
    }
    .ham-position {
        right: 295%;
    }
    .sr1-right h5, .sr2-left h5 {
        padding-bottom: 2rem;
    }
    .big-offer {
        height: 265px;
    }
    .blog-small-txt-1 {
        width: 35%;
    }
    .blog-small-txt {
        width: 72%;
    }
}
@media(max-width:585px){
    .inner{
        max-width: 500px;
    }
    .nav-left {
        width: 30%;
    }
    .nav-right {
        width: 30%;
        padding-right: 15%;
    }
    .nav-ul {
        width: 260px;
    }
    .change-ul {
        left: -48%;
    }
    .ham-position {
        right: 160%;
    }

    .header-txt h2 {
        font-size: 2.6rem;
    }
    .header-txt h4 {
        font-size: 2.1rem;
    }
    .header-down h1 {
        font-size: 4rem;
        letter-spacing: 1rem;
        padding-top: 4rem;
    }

    .shop-now {
        width: 28%;
    }

    .product-2 {
        width: 80%;
    }

    .blog-left {
        height: 250px;
    }
    .blog-right {
        height: auto;
    }
    .br-row {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .brr-box {
        width: 100%;
        height: 250px;
    }
    .blog-small-txt-1, .blog-small-txt {
        width: 40%;
    }
    .blog-big-txt-2{
        font-size: 1.5rem;
    }
}
@media(max-width:515px){
    .inner{
        max-width: 450px;
    }
    .nav-ul {
        width: 230px;
    }
    .header-body {
        padding-top: 1rem;
    }
    .header-down h1 {
        font-size: 3.5rem;
    }
    .blog-small-txt-1, .blog-small-txt {
        width: 45%;
    }
}
@media(max-width:460px){
    .inner{
        max-width: 400px;
    }
    .nav-right {
        padding-right: 14%;
    }
    .hamburger {
        width: 26px;
    }
    .hamburger .bar {
        height: 3px;
    }
    .icon #bar3 {
        transform: translateY(3px) rotate(45deg);
    }

    .header-txt button {
        width: 37%;
    }
    .header-down h1 {
        font-size: 3rem;
    }

    .cart {
        width: 60%;
        top: 100%;
        left: 21%;
    }
    .mrgn-top{
        margin-top: 4rem;
    }
    .mrgn-top-2{
        margin-top: 4rem !important;
    }

    .shop-now {
        width: 30%;
    }

    .support {
        padding-top: 3rem;
    }
    .groups {
        width: 60%;
        flex-direction: column;
        text-align: center;
    }
    .grp-pdng-2{
        padding-top: 3rem;
    }
    .groups-img {
        width: 17%;
        margin: 0 auto;
    }
    .groups-txt {
        width: 100%;
    }
    .groups-txt h3 {
        font-size: 1.6rem;
    }
    .groups-txt h4 {
        font-size: 1.4rem;
    }

    .sr1-right h2, .sr2-left h2 {
        font-size: 3.5rem;
    }

    .product-1 {
        width: 70%;
    }
    .product-2 {
        width: 70%;
        margin: 0 auto;
    }

    .bo-txt h2 {
        font-size: 4rem;
    }
    .blog-small-txt-1, .blog-small-txt {
        width: 51%;
    }
}

@media(max-width:415px){
    .inner{
        max-width: 360px;
    }
    .nav-left {
        width: 35%;
    }
    .nav-ul {
        width: 190px;
    }
    .nav-ul li a {
        font-size: 1.3rem;
    }

    .header-down h1 {
        font-size: 2.5rem;
    }

    .shop-now {
        width: 34%;
    }

    .apple h4, .camera h4 {
        font-size: 1.1rem;
    }

    .blog-big-txt-1, .blog-big-txt-2 {
        font-size: 1.4rem;
    }
    .blog-small-txt-1, .blog-small-txt {
        width: 57%;
    }
}
@media(max-width:365px){
    .inner{
        max-width: 300px;
    }
    .nav-left {
        width: 40%;
    }
    .nav-right {
        width: 36%;
        padding-right: 17%;
    }
    .nav-ul {
        width: 160px;
    }
    .change-ul {
        left: -24%;
    }
    .nav-ul li a {
        font-size: 1.2rem;
    }
    .ham-position {
        right: 135%;
    }
    
    .header-txt h4 {
        font-size: 1.9rem;
    }
    .header-txt button {
        width: 50%;
    }

    .shop-now {
        width: 37%;
    }

    .big-offer {
        height: 245px;
    }
    .bo-txt h2 {
        font-size: 3.4rem;
    }
    .shop-now-2 {
        width: 33%;
    }

    .blog-big-txt-1, .blog-big-txt-2 {
        font-size: 1.2rem;
    }
    .blog-small-txt-1, .blog-small-txt {
        width: 68%;
    }

    .shop-now-3 {
        width: 36%;
    }

    .subscribe-txt h3 {
        font-size: 2rem;
    }
    .subscribe-txt p {
        font-size: 1.2rem;
    }

    footer {
        padding: 0rem 0 3rem;
    }
    .footer-col {
        width: 100%;
        margin: 3rem auto 0rem;
    }
}